.content
  padding 0
  display flex
  flex-direction column

.press-me
  padding 28px 0 20px 0
  text-align center
  width 100%
  font-size: 30px
  color: red
  +above('tablet')
    font-size: 40px
  +above('desktop')
    font-size: 50px

  &__image
    width auto
    height 100%
    +above('desktop')
      height 100%
      width auto

.cards
  display flex
  flex-wrap wrap
  flex-direction row
  justify-content center
  height 100%