doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Project Airhorn
    style
      include ../docs/styles.css
    link(rel='stylesheet', href='styles.css')
    link(ref='prefetch', href='media/loading.gif')
    script(src='js/index.js')
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-108949745-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-108949745-1');
  body
    header.header.l-left-column
      img.header__logo(src="media/dls-hover.gif")
      .header__credits <a href="https://github.com/internetztube/airhorn" target="_blank">made with love</a> in Linz<br><span title="Isi & Fred">by your team</span>

    main.content.l-right-column
      .press-me Click Button to play

      article.cards

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/kunstuni/giphy.mp4" type="video/mp4")
            audio
              source(src="media/kunstuni/audio.mp3")
          .card__overlay
            .card__overlay-title Maler

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/bye/giphy.mp4" type="video/mp4")
            audio
              source(src="media/bye/audio.mp3")
          .card__overlay
            .card__overlay-title Bye



        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/silence/giphy.mp4" type="video/mp4")
            audio
              source(src="media/silence/audio.mp3")
          .card__overlay
            .card__overlay-title Silence

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/lachen/giphy.mp4" type="video/mp4")
            audio
              source(src="media/lachen/audio.mp3")
          .card__overlay
            .card__overlay-title 😂

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/wochenplanung/giphy.mp4" type="video/mp4")
            audio
              source(src="media/wochenplanung/audio.mp3")
          .card__overlay
            .card__overlay-title 🤔


        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/wieso/giphy.mp4" type="video/mp4")
            audio
              source(src="media/wieso/audio.mp3")
          .card__overlay
            .card__overlay-title But why?

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/zuckerschnecke/giphy.mp4" type="video/mp4")
            audio
              source(src="media/zuckerschnecke/audio.mp3")
          .card__overlay
            .card__overlay-title 🐌

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/loch-im-bauch/giphy.mp4" type="video/mp4")
            audio
              source(src="media/loch-im-bauch/audio.mp3")
          .card__overlay
            .card__overlay-title Loch im Bauch

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/radl/giphy.mp4" type="video/mp4")
            audio
              source(src="media/radl/audio.mp3")
          .card__overlay
            .card__overlay-title bike before girls

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/mehr-geld/giphy.mp4" type="video/mp4")
            audio
              source(src="media/mehr-geld/audio.mp3")
          .card__overlay
            .card__overlay-title 💸


        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/sup/giphy.mp4" type="video/mp4")
            audio
              source(src="media/sup/audio.mp3")
          .card__overlay
            .card__overlay-title SUP

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/grafiker/giphy.mp4" type="video/mp4")
            audio
              source(src="media/grafiker/audio.mp3")
          .card__overlay
            .card__overlay-title Büro


        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/nix/giphy.mp4" type="video/mp4")
            audio
              source(src="media/nix/audio.mp3")
          .card__overlay
            .card__overlay-title Hey Philipp

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/deprezina/giphy.mp4" type="video/mp4")
            audio
              source(src="media/deprezina/audio.mp3")
          .card__overlay
            .card__overlay-title Debreziner

        .card(onclick="start(event)")
          .card__giphy.card__giphy--cover
            video.card__giphy-gif(loop playsinline)
              source(src="media/kommen-und-gehen/giphy.mp4" type="video/mp4")
            audio
              source(src="media/kommen-und-gehen/audio.mp3")
          .card__overlay
            .card__overlay-title Prosit Neujahr




    .audio-samples
      audio#23
        source(src="media/wrap/sound.mp3")
